<a href="https://colab.research.google.com/github/fralfaro/MAT281_2023/blob/main/docs/labs/lab_031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# MAT281 - Laboratorio N°03

## Problema 01


<img src="https://imagenes.universia.net/gc/net/images/practicas-empleo/p/pr/pro/profesiones-con-el-avance-de-la-tecnologia.jpg" width="480" height="360" align="center"/>


EL conjunto de datos se denomina `ocupation.csv`, el cual contiene información de distintos usuarios (edad ,sexo, profesión, etc.).

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [3]:
import pandas as pd

In [4]:
# load data
url='https://drive.google.com/file/d/1SW1_vWBLd50COj4FbQdZenqAwA0nLDqC/view?usp=drive_link'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]

df = pd.read_csv(url, sep="|" )
df.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1.- ¿Cuál es el número de observaciones en el conjunto de datos?

In [6]:
# Desarrollo

cant_obs=df.shape[0] #ve la cantidad de filas que tiene el df
print("El número de observaciones es", cant_obs)
print("") #separadores para que exista un espacio entre preguntas.

El número de observaciones es 943

2.- ¿Cuál es el número de columnas en el conjunto de datos?

In [7]:
# Desarrollo

cant_col=df.shape[1] #ve la cantidad de columnas que tiene el df
print("El número de columnas es", cant_col)
print("")

El número de columnas es 5

3.- Imprime el nombre de todas las columnas

In [9]:
# Desarrollo

print("Los nombres de las columnas son:")
c=df.columns.tolist() #creamos una lista con todos los elementos
for j in range(len(c)): #imprimimos cada uno por separado para no tenerlos en una lista
  print(c[j])
print("")

Los nombres de las columnas son:
user_id
age
gender
occupation
zip_code

4.- Imprima el índice del dataframe

In [10]:
# Desarrollo

print("El indice del dataframe es: "+str(df.index))

El indice del dataframe es: RangeIndex(start=0, stop=943, step=1)

5.- ¿Cuál es el tipo de datos de cada columna?

In [12]:
# Desarrollo

print("El tipo de dato de cada columna es:")
print(df.dtypes) #función que da el tipo de dato
print("")

El tipo de dato de cada columna es:
user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

6.- Describir el conjunto de datos (**hint**: .describe())

In [15]:
# Desarrollo

print("El conjunto de datos descritos:")
print(df.describe()) #se tuiliza la función describe mencionada en el hint

El conjunto de datos descritos:
          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

7.- Imprimir solo la columna de **occupation**.

In [17]:
# Desarrollo

print("La columna occupation es: \n")
print(df["occupation"])

La columna occupation es:

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

8.- ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

In [25]:
# Desarrollo

ocup = df["occupation"].unique()
print("La cantidad de ocupaciones diferentes es: "+str(len(ocup)))

La cantidad de ocupaciones diferentes es: 21

9.- ¿Cuál es la ocupación más frecuente?

In [23]:
# Desarrollo

fre = df["occupation"].value_counts()
print("La ocupacion mas frecuente es: "+str(fre.idxmax()))

La ocupacion mas frecuente es: student

10.- ¿Cuál es la edad media de los usuarios?

In [21]:
# Desarrollo

med_edad = df["age"].mean()
print("La edad media de los usuarios es: "+str(int(med_edad)))

La edad media de los usuarios es: 34

11.- ¿Cuál es la edad con menos ocurrencia?

In [27]:
# Desarrollo

f_edades = df["age"].value_counts()
print("La edad menos ocurrente es: "+str(f_edades.idxmin()))

La edad menos ocurrente es: 7